body {
    margin: 0;
    padding: 0;
    height: 100vh;
}
.main-container {
    background-color: #f5efef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
}
a{
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.6rem;
}
a:hover {
    background-color: #cdcdcd;
    border-radius: 5px;
    cursor: pointer;
}
a:focus {
    background-color:  #373bc726;
    color: #373bc7f2;
    border-radius: 5px;
}
.drawer-container {
    background-color: #ffffff;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 15.5rem;
    height: 16.5rem;
}
.link {
    display: flex;
    flex-direction: column;
    margin: .5rem;
}
h3 {
    margin: 1.2rem 0rem 0rem .9rem;
}
p {
    margin: 0rem 0rem 0rem .9rem;
}
.icon-drawer {
    margin-right: 2rem;
}
.title{
    margin: .1rem;
    padding: .3rem;
}
.fix-asside {
    height: 100%;
}
.title-adjust--fix {
    position: fixed;
    background: white;
    /* border: 1px solid; */
    top: 0px;
    width: 235px;
    margin: 0rem;
    padding: 0px;
}
.link-adjust--fix {
    padding-top: 4rem;
    /* height: 100vh; */
}
.fix-asside {
    display: flex;
    /* gap: 2px; */
}
.drawer-width--fix {
    width: 400px;
    height: 100%;
}
.main-width--fix {
    width: 100%;
}
hr {
    width: 100%;
    border-top: 0px;
}
aside {
    border-right: 1px solid #00000038;
    overflow-y: auto;
}
main{
    overflow-x: auto;
}
