@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=M+PLUS+Rounded+1c&family=Roboto+Slab&display=swap');@import url('https://fonts..com/css2?family=El+Messiri&family=M+PLUS+Rounded+1c&family=Roboto+Slab&display=swap');

*{
    font-family: 'El Messiri', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Open Sans', sans-serif;
}
.main-container {
    background-color: rgba(0,0,0,.32);
     /* #f5efef; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
}
.dialog {
    box-shadow: 6px 11px 30px 1px black;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 10rem;
    border-radius: 5px;
}
.btn-grp {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0.6rem 0rem 0rem;
    font-size: 13px;
    color: rgb(87, 63, 194);
    font-weight: bold;
}
h3,p {
    margin-left: 1.5rem;
}
p {
    margin-top : 0rem;
}
.btn {
    padding: 1rem;
}
.btn:hover {
    background-color: whitesmoke;
    cursor: pointer;
}
.dialog-simple {
    height: 16rem;
}
.dialog-confirm {
    height: 20rem;
}
.btn-grp-col{
    flex-direction: column;
    color: #0a020987;
    margin-left: 1rem;
    margin-top: 0rem;
}
.btn-row {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}
.material-icons {
    font-size: 45px;
}
/* .btn-content--scroll {
    overflow-y:scroll;
} */

