@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=M+PLUS+Rounded+1c&family=Roboto+Slab&display=swap');@import url('https://fonts..com/css2?family=El+Messiri&family=M+PLUS+Rounded+1c&family=Roboto+Slab&display=swap');
.main-container {
    background-color: #f5efef;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 10rem;
}
*{
    font-family: 'El Messiri', sans-serif;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
/* .snackbar-leading {
    height: 2rem;
} */
.snackbar , .snackbar-stacked{
    display: flex;
    border: 1px solid;
    border-radius: 5px;
    width: 420px;
    background-color: rgb(51, 51, 51);
    color: whitesmoke;    
    align-items: center;
    height: 50px;
}
.leading {
    align-items: flex-start;
}
.stacked {
    align-items: flex-start;
}
.snackbar-stacked {
    flex-direction: column;
    height: 6rem;
}
.snackbar-stacked p {
    font-size: 13.6px;
}
.msg-row p {
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    margin: 1rem;
    /* font-size: .875rem; */
    font-weight: 400;
}
.btn-row {
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
    color: #bb86fc;
}
span {
    padding: .8rem;
}
.material-icons {
    font-size: 19px !important;
}
.material-icons:hover{
    background-color: #f2f3f326;
    cursor: pointer;
    border-radius: 50%;
}
span:hover {
    background-color: #f2f3f326;
    cursor: pointer;
}